<a href="https://colab.research.google.com/github/itsDV7/DataScience_with_Python/blob/main/Assignment10_KNN_metrics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Import Library**

In [185]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import KNeighborsClassifier
from sklearn.metrics import classification_report
import seaborn as sns
from matplotlib.pylab import rcParams
rcParams['figure.figsize'] = 18, 12

**Import Data**

In [29]:
train_data = pd.read_csv('trainKNN.txt', sep=",", header=None)
train_df = train_data.copy()
test_data = pd.read_csv('testKNN.txt', sep=",", header=None)
test_df = test_data.copy()

**EDA**

In [30]:
train_df.head()

   0        1      2     3     4      5     6     7    8    9   10
0   1  1.52101  13.64  4.49  1.10  71.78  0.06  8.75  0.0  0.0   1
1   2  1.51761  13.89  3.60  1.36  72.73  0.48  7.83  0.0  0.0   1
2   3  1.51618  13.53  3.55  1.54  72.99  0.39  7.78  0.0  0.0   1
3   4  1.51766  13.21  3.69  1.29  72.61  0.57  8.22  0.0  0.0   1
4   5  1.51742  13.27  3.62  1.24  73.08  0.55  8.07  0.0  0.0   1

In [31]:
train_df.shape

(196, 11)

In [32]:
test_df.head()

    0        1      2     3     4      5     6      7    8     9   10
0   68  1.52152  13.05  3.65  0.87  72.32  0.19   9.85  0.0  0.17   1
1   69  1.52152  13.12  3.58  0.90  72.20  0.23   9.82  0.0  0.16   1
2   70  1.52300  13.31  3.58  0.82  71.99  0.12  10.17  0.0  0.03   1
3  144  1.51709  13.00  3.47  1.79  72.72  0.66   8.18  0.0  0.00   2
4  145  1.51660  12.99  3.18  1.23  72.97  0.58   8.81  0.0  0.24   2

In [33]:
test_df.shape

(18, 11)

In [34]:
for i in range(train_df.shape[1]):
    print(f'col{i}: {(train_df.iloc[:,i]==0.0).sum()}')

col0: 0
col1: 0
col2: 0
col3: 35
col4: 0
col5: 0
col6: 24
col7: 0
col8: 163
col9: 135
col10: 0

In [35]:
train_df = train_df.iloc[:,[1,2,3,4,5,6,7,10]]

In [36]:
train_df.head()

        1      2     3     4      5     6     7   10
0  1.52101  13.64  4.49  1.10  71.78  0.06  8.75   1
1  1.51761  13.89  3.60  1.36  72.73  0.48  7.83   1
2  1.51618  13.53  3.55  1.54  72.99  0.39  7.78   1
3  1.51766  13.21  3.69  1.29  72.61  0.57  8.22   1
4  1.51742  13.27  3.62  1.24  73.08  0.55  8.07   1

In [37]:
test_df = test_df.iloc[:,[1,2,3,4,5,6,7,10]]

In [38]:
test_df.head()

        1      2     3     4      5     6      7   10
0  1.52152  13.05  3.65  0.87  72.32  0.19   9.85   1
1  1.52152  13.12  3.58  0.90  72.20  0.23   9.82   1
2  1.52300  13.31  3.58  0.82  71.99  0.12  10.17   1
3  1.51709  13.00  3.47  1.79  72.72  0.66   8.18   2
4  1.51660  12.99  3.18  1.23  72.97  0.58   8.81   2

**Split the Data**

In [106]:
X_train = train_df.iloc[:,:-1]
X_test = test_df.iloc[:,:-1]
y_train = train_df.iloc[:,-1]
y_test = test_df.iloc[:,-1]

**Feature Scaling**

In [107]:
scaler = MinMaxScaler()

In [108]:
scaler.fit(X_train)

MinMaxScaler(copy=True, feature_range=(0, 1))

In [109]:
X_train = scaler.transform(X_train)

In [110]:
X_test = scaler.transform(X_test)

**Squared Euclidean Method**

In [192]:
classifier = KNeighborsClassifier(algorithm='auto', metric='seuclidean',  metric_params={'V':X_train.std(axis=0)}, n_neighbors=4)

In [193]:
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='seuclidean',
                     metric_params={'V': array([0.13473327, 0.15437631, 0.30937272, 0.15278255, 0.14183013,
       0.10804914, 0.13177131])},
                     n_jobs=None, n_neighbors=4, p=2, weights='uniform')

In [194]:
pred_SE = classifier.predict(X_test)

In [195]:
score_SE = classifier.score(X_test, y_test)

**Manhattan Method**

In [196]:
classifier = KNeighborsClassifier(algorithm='auto', metric='manhattan', n_neighbors=4)

In [197]:
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='manhattan',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [198]:
pred_MH = classifier.predict(X_test)

In [199]:
score_MH = classifier.score(X_test, y_test)

**Minkowski Method**

In [200]:
classifier = KNeighborsClassifier(n_neighbors=4)

In [201]:
classifier.fit(X_train, y_train)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=4, p=2,
                     weights='uniform')

In [202]:
pred_MK = classifier.predict(X_test)

In [203]:
score_MK = classifier.score(X_test, y_test)

**Squared Euclidean vs Manhattan vs Minkowski**

In [204]:
print("Scores: ")
print(f'Squared Euclidean Score: {score_SE}')
print(f'Manhattan Score: {score_MH}')
print(f'Minkowski Score: {score_MK}')

Scores:
Squared Euclidean Score: 0.6111111111111112
Manhattan Score: 0.5
Minkowski Score: 0.6111111111111112

In [206]:
print("Classification Reports: ")
print('\nSquared Euclidean:')
print(classification_report(y_test, pred_SE))
print('\nManhattan:')
print(classification_report(y_test, pred_MH))
print('\nMinkowski:')
print(classification_report(y_test, pred_MK))

Classification Reports:

Squared Euclidean:
              precision    recall  f1-score   support

           1       0.60      1.00      0.75         3
           2       0.40      0.67      0.50         3
           3       1.00      0.67      0.80         3
           5       1.00      0.33      0.50         3
           6       0.00      0.00      0.00         3
           7       0.60      1.00      0.75         3

    accuracy                           0.61        18
   macro avg       0.60      0.61      0.55        18
weighted avg       0.60      0.61      0.55        18


Manhattan:
              precision    recall  f1-score   support

           1       0.43      1.00      0.60         3
           2       0.25      0.33      0.29         3
           3       1.00      0.33      0.50         3
           5       1.00      0.33      0.50         3
           6       0.00      0.00      0.00         3
           7       0.60      1.00      0.75         3

    accuracy                           0.50        18
   macro avg       0.55      0.50      0.44        18
weighted avg       0.55      0.50      0.44        18


Minkowski:
              precision    recall  f1-score   support

           1       0.60      1.00      0.75         3
           2       0.40      0.67      0.50         3
           3       1.00      0.67      0.80         3
           5       1.00      0.33      0.50         3
           6       0.00      0.00      0.00         3
           7       0.60      1.00      0.75         3

    accuracy                           0.61        18
   macro avg       0.60      0.61      0.55        18
weighted avg       0.60      0.61      0.55        18

/usr/local/lib/python3.7/dist-packages/sklearn/metrics/_classification.py:1272: UndefinedMetricWarning: Precision and F-score are ill-defined and being set to 0.0 in labels with no predicted samples. Use `zero_division` parameter to control this behavior.
  _warn_prf(average, modifier, msg_start, len(result))