In [1]:
import pandas as pd

In [2]:
data = pd.read_csv("/content/BL-Flickr-Images-Book.csv")
df = data.copy()

In [3]:
df.head()

   Identifier  ...                           Shelfmarks
0         206  ...    British Library HMNTS 12641.b.30.
1         216  ...    British Library HMNTS 12626.cc.2.
2         218  ...    British Library HMNTS 12625.dd.1.
3         472  ...  British Library HMNTS 10369.bbb.15.
4         480  ...     British Library HMNTS 9007.d.28.

[5 rows x 15 columns]

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8287 entries, 0 to 8286
Data columns (total 15 columns):
 #   Column                  Non-Null Count  Dtype
---  ------                  --------------  -----
 0   Identifier              8287 non-null   int64
 1   Edition Statement       773 non-null    object
 2   Place of Publication    8287 non-null   object
 3   Date of Publication     8106 non-null   object
 4   Publisher               4092 non-null   object
 5   Title                   8287 non-null   object
 6   Author                  6509 non-null   object
 7   Contributors            8287 non-null   object
 8   Corporate Author        0 non-null      float64
 9   Corporate Contributors  0 non-null      float64
 10  Former owner            1 non-null      object
 11  Engraver                0 non-null      float64
 12  Issuance type           8287 non-null   object
 13  Flickr URL              8287 non-null   object
 14  Shelfmarks              8287 non-null   object
dtypes: float64(3), int64(1), object(11)
memory usage: 971.3+ KB

In [5]:
print(df.shape)
print(df.columns)

(8287, 15)
Index(['Identifier', 'Edition Statement', 'Place of Publication',
       'Date of Publication', 'Publisher', 'Title', 'Author', 'Contributors',
       'Corporate Author', 'Corporate Contributors', 'Former owner',
       'Engraver', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

In [6]:
# If 50% entries in a column are NULL, it is dropped.
drop_limit = len(df) * 0.5
df = df.dropna(axis=1, thresh=drop_limit)
print(df.columns)

Index(['Identifier', 'Place of Publication', 'Date of Publication', 'Title',
       'Author', 'Contributors', 'Issuance type', 'Flickr URL', 'Shelfmarks'],
      dtype='object')

In [7]:
# Find all columns with unique values in the Data.
unique_columns = [ x for x in df.columns if df[x].is_unique ]
print(unique_columns)

['Identifier', 'Flickr URL', 'Shelfmarks']

In [8]:
df = df.set_index('Identifier')
df.head()

                Place of Publication  ...                           Shelfmarks
Identifier                            ...
206                           London  ...    British Library HMNTS 12641.b.30.
216         London; Virtue & Yorston  ...    British Library HMNTS 12626.cc.2.
218                           London  ...    British Library HMNTS 12625.dd.1.
472                           London  ...  British Library HMNTS 10369.bbb.15.
480                           London  ...     British Library HMNTS 9007.d.28.

[5 rows x 8 columns]

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8287 entries, 206 to 4160339
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Place of Publication  8287 non-null   object
 1   Date of Publication   8106 non-null   object
 2   Title                 8287 non-null   object
 3   Author                6509 non-null   object
 4   Contributors          8287 non-null   object
 5   Issuance type         8287 non-null   object
 6   Flickr URL            8287 non-null   object
 7   Shelfmarks            8287 non-null   object
dtypes: object(8)
memory usage: 582.7+ KB

In [10]:
df.isna().sum()

Place of Publication       0
Date of Publication      181
Title                      0
Author                  1778
Contributors               0
Issuance type              0
Flickr URL                 0
Shelfmarks                 0
dtype: int64

In [11]:
df = df.dropna()
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 6380 entries, 206 to 4159587
Data columns (total 8 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   Place of Publication  6380 non-null   object
 1   Date of Publication   6380 non-null   object
 2   Title                 6380 non-null   object
 3   Author                6380 non-null   object
 4   Contributors          6380 non-null   object
 5   Issuance type         6380 non-null   object
 6   Flickr URL            6380 non-null   object
 7   Shelfmarks            6380 non-null   object
dtypes: object(8)
memory usage: 448.6+ KB

In [ ]:
# pip install locationtagger

In [13]:
import locationtagger

In [14]:
# pip install nltk

In [15]:
# Error Rectification
# import nltk
# nltk.download() # d -> all -> q

In [16]:
for iter in range(len(df)):
    text = df['Place of Publication'].iloc[iter]
    entities = locationtagger.find_locations(text=text)
    if entities.named_entities:
        df['Place of Publication'].iloc[iter] = entities.named_entities[0]

In [17]:
df.head()

           Place of Publication  ...                           Shelfmarks
Identifier                       ...
206                      London  ...    British Library HMNTS 12641.b.30.
216                      London  ...    British Library HMNTS 12626.cc.2.
218                      London  ...    British Library HMNTS 12625.dd.1.
472                      London  ...  British Library HMNTS 10369.bbb.15.
480                      London  ...     British Library HMNTS 9007.d.28.

[5 rows x 8 columns]

In [18]:
import re

In [19]:
regex_query = '\d{4}'

In [20]:
for iter, _ in df.iterrows():
    try:
        df['Date of Publication'].loc[iter] = re.findall(regex_query, df['Date of Publication'].loc[iter])[0]
    except:
        pass

In [21]:
df.head()

           Place of Publication  ...                           Shelfmarks
Identifier                       ...
206                      London  ...    British Library HMNTS 12641.b.30.
216                      London  ...    British Library HMNTS 12626.cc.2.
218                      London  ...    British Library HMNTS 12625.dd.1.
472                      London  ...  British Library HMNTS 10369.bbb.15.
480                      London  ...     British Library HMNTS 9007.d.28.

[5 rows x 8 columns]

In [22]:
regex_query = '^\[*([^.]*).*'

In [23]:
for iter, _ in df.iterrows():
    try:
        df['Title'].loc[iter] = re.findall(regex_query, df['Title'].loc[iter])[0]
    except:
        pass

In [24]:
df.head()

           Place of Publication  ...                           Shelfmarks
Identifier                       ...
206                      London  ...    British Library HMNTS 12641.b.30.
216                      London  ...    British Library HMNTS 12626.cc.2.
218                      London  ...    British Library HMNTS 12625.dd.1.
472                      London  ...  British Library HMNTS 10369.bbb.15.
480                      London  ...     British Library HMNTS 9007.d.28.

[5 rows x 8 columns]

In [25]:
df.to_csv("BL-Flickr-Images-Book_Filtered.csv", index=False)